:root {
    --color-primary: white;
    --color-secondary: #E9E9E7;
    --font-primary: #1F1E23;
    --font-secondary: #FFD939; 
    --btn-primary: #444FC5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-primary);
}

h1,h2,h3,h4 {
    color: var(--font-primary);
}

button {
    font-weight: 100;
    background-color: var(--btn-primary);
    color: white;
    border: 0;
    border-radius: .2rem;
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    color: var(--font-primary);
    text-decoration: none;
}

.btn-sm {
    padding: .8rem 1rem;
}

.btn-md {
    padding: .8rem 2.5rem;
}


img {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 400px;
    margin: 0 auto;
}

nav img {
    width: 60px;
}

.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1.5rem 3rem;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
}

nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--font-secondary);
    text-decoration-thickness: .1rem;
}

nav ul li:last-child a {
    color: grey;
    text-decoration: line-through;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    padding: 3rem;
}

header {
    margin-bottom: 3rem;
}

header h2 {
    font-size: 3rem;
    text-align: center;
}

header h2 span {
    color: var(--font-secondary);
}

.random-cats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-cats__title h2 {
    font-size: 2rem;
    font-weight: 300;
}

.random-cats__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.random-cats__container button:nth-child(1) {
    margin: 1rem 0 2rem 0;
}

.random-cats__imgContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 320px;
    min-width: 320px;
    max-width: 320px;
    margin: 1rem;
}

.addFavorite-btn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: 5px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(92%) sepia(43%) saturate(1251%) hue-rotate(321deg) brightness(101%) contrast(112%);
}

.addFavorite-btn:hover {
    filter: brightness(0) saturate(100%) invert(92%) sepia(43%) saturate(1100%) hue-rotate(321deg) brightness(60%) contrast(112%);
}

.favorite-michis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.favorite-michis__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 400px;
}

.favorite-michis__statistics h3 {
    margin-bottom: 1rem;
}

.favorite-michis__tip {
    color: grey;
}

.favorites-michis__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-auto-rows: 280px; 
    justify-content: center;
    gap: 10px;
    width: 100%;
    min-height: 0px;
    max-height: 600px;
    margin-bottom: .5rem;
    overflow-y: scroll;
}

.favorite-michis__title h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}


.favorites-michis__container div {
    position: relative;
    display: flex;
    justify-content: center;
}


.btn-close {
    position: absolute;
    bottom: 5px;
    background-image: url('./assets/icons8-close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    filter: brightness(0) saturate(100%) invert(92%) sepia(43%) saturate(1251%) hue-rotate(321deg) brightness(101%) contrast(112%);
    cursor: pointer;
}

.btn-close:hover {
    filter: brightness(0) saturate(100%) invert(92%) sepia(43%) saturate(1100%) hue-rotate(321deg) brightness(60%) contrast(112%);
}

footer {
    width: 100%;
    height: 8rem;
}


.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    text-align: center;
}